---
layout: default
title: Archive
---

<!-- Begin List Posts
================================================== -->
<section>
  <div class="container">


    <h1>Trend Watch</h1>
    <p style="font-weight: 100; font-style: italic; font-size: 1.1em;">Style, safety, and high-performance items for your new home.</p>




  {% for post in paginator.posts %}
  <div>
  	<div>



      <div class="archive-wrapper">
        <div class="archive-image">
          {% if post.image %}
                <a href="{{ site.url }}{{ post.url }}"><img class="archive-image-responsive" src="{{ site.url }}/images/blog-images/{{ post.image }}" title="{{ post.title }}"></a>
                {% endif %}
        </div>
        <div class="archive-content">
            <div>
              <a href="{{ site.url }}{{ post.url }}"><h3>{{ post.title }}</h3></a>
              <sub class="archive-sub">{{ post.date | date: '%B %d, %Y' }}</sub><br />
      	  	{{ post.content | strip_html | truncatewords:75 }}
            </div>

      		<ul class="inline-list" style="margin-top:1em;">
      			{% for category in post.categories %}
      			<li><h6><a href="/#!/{{ category }}"><i class="fa fa-tag"></i> {{ category }}</a></h6></li>
      			{% endfor %}
      		</ul>
        </div>
      </div>
  	</div>
  </div>
  {% endfor %}
</div>

</section>
<section>
  <div class="container" style="margin: auto;">
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ site.url }}{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous </span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ site.url }}{{ paginator.next_page_path }}" class="next">Next </a>
  {% else %}
    <span class="next ">Next </span>
  {% endif %}
</div>
</div>
</section>
