---
layout: default
title: Home
---

<!-- H E R O -->
  <section id="hero">

    <div class="hero-wrapper">
      <div class="hero-item-image">
        <img src="images/DDH52-Cover-WEB.jpg" class="img-fluid" alt="House Plan Catalog Magazine">
        </div>
        <div class="hero-item-copy">
          <span>Latest Publication</span>
          <h1>Designer Dream Homes Presents: <br><b>Small Dream Homes</b></h1>
          <p>154 Prudently Perfect Home Plans, from the Nations Top Home designers!</p>
          <!-- <a href="#" class="btn btn-regular">Learn more</a> -->
        </div>
      </div>

  </section>
  <!-- E N D  H E R O -->

  <!-- E N D  M A R K E T I N G -->
  <section id="marketing">
    <div class="marketing-wrapper">
          <div class="marketing-item-copy">
            <span>Features</span>
            <h2>Professional Publishing</h2>
            <p>For almost two decades Design Direct Publishing has been creating stunning, professional publications with nation-wide distribution.</p>
            <a href="{{ site.url }}/about/" class="btn btn-regular">Find out more About Us</a><br />
            <a href="{{ site.url }}/books/" class="btn btn-regular">Our Books</a><br />
            <a href="{{ site.url }}/magazines/" class="btn btn-regular">Our Magazines</a><br />
            <a href="{{ site.url }}/blog/" class="btn btn-regular">Trend Watch</a><br />
          </div>
        <div class="marketing-item-images">
          <div class="marketing-images-wrapper">
              <div class="marketing-image-A"><img src="{{ site.url }}/images/C1-Saters-Ultimate-Luxury-Homes-book.jpg" class="img-fluid" alt="Dan Sater's Ultimate Luxury Home Plan book"></div>
              <div class="marketing-image-C"><img src="{{ site.url }}/images/C1-Ultimate_Mediterranean-book-.jpg" class="img-fluid" alt="Dan Sater's Ultimate Mediterranean Style Home Plan book"></div>
              <div class="marketing-image-B"><img src="{{ site.url }}/images/DDH49-Cover-WEB.jpg" class="img-fluid" alt="House plan catalog magazine"></div>
              <div class="marketing-image-B"><img src="{{ site.url }}/images/DDH39-Cover-low-rez.jpg" class="img-fluid" alt="House plan catalog magazine"></div>
              <div class="marketing-image-B"><img src="{{ site.url }}/images/DDHP-41-Cover-WEB.jpg" class="img-fluid" alt="House plan catalog magazine"></div>
              <div class="marketing-image-B"><img src="{{ site.url }}/images/DDHP33-Cover-WEB.jpg" class="img-fluid" alt="House plan catalog magazine"></div>
              <div class="marketing-image-B"><img src="{{ site.url }}/images/DDHP39-Cover-WEB.jpg" class="img-fluid" alt="House plan catalog magazine"></div>
              <div class="marketing-image-B"><img src="{{ site.url }}/images/DDHP48-Cover-WEB.jpg" class="img-fluid" alt="House plan magazine"></div>
              <div class="marketing-image-B"><img src="{{ site.url }}/images/DDHP49-Cover-WEB.jpg" class="img-fluid" alt="House plan magazine"></div>
              <div class="marketing-image-B"><img src="{{ site.url }}/images/DDHP52-Cover-WEB.jpg" class="img-fluid" alt="House plan magazine"></div>

          </div>
        </div>
      </div>
  </section>
  <!-- E N D  M A R K E T I N G -->



<!-- A D V E R T I S E R   L I S T -->
<section id="ad-logo">
  <div class="container">
    <div class="title-block">
      <h2>Proud to be affiliated with these fine corporations</h2>
      <p>We are very proud of our long history working with some of the best manufacturers in their respective fields.</p>
    </div>

    <div class="adlogo-wrapper">
        <div class="advert-logo">
          <a href="https://www.marvin.com" target="blank" rel="noopener noreferrer" title="Marvin Windows and Doors">
          <img class="blog-image-responsive" src="{{ site.url }}/images/marvin-logo.png" alt="Marvin Windows and Doors" />
          </a>
        </div>
        <div class="advert-logo">
          <a href="https://www.andersenwindows.com" target="blank" rel="noopener noreferrer" title="Andersen Windows and Doors">
          <img class="blog-image-responsive" src="{{ site.url }}/images/andersen-logo.png" alt="Andersen Windows and Doors" />
          </a>
        </div>
        <div class="advert-logo">
          <a href="https://www.veluxusa.com/en" target="blank" rel="noopener noreferrer" title="Velux Skylights">
          <img class="blog-image-responsive" src="{{ site.url }}/images/velux-logo.png" alt="Velux Skylights" />
          </a>
        </div>
        <div class="advert-logo">
          <a href="http://ncfi.com" target="blank" rel="noopener noreferrer" title="Insulstar Insulation">
          <img class="blog-image-responsive" src="{{ site.url }}/images/insulstar-logo.png" alt="Insulstar Insulation" />
          </a>
        </div>
        <div class="advert-logo">
          <a href="https://www.provia.com" target="blank" rel="noopener noreferrer" title="ProVia Doors Windows Siding">
          <img class="blog-image-responsive" src="{{ site.url }}/images/pro-via-logo.png" alt="ProVia Doors Windows Siding" />
          </a>
        </div>
        <div class="advert-logo">
          <a href="https://www.dupont.com/brands/tyvek.html" target="blank" rel="noopener noreferrer" title="Dupont Tyvek">
          <img class="blog-image-responsive" src="{{ site.url }}/images/tyvek-logo.png" alt="Dupont Tyvek" />
          </a>
        </div>
        <div class="advert-logo">
          <a href="https://www.clopaydoor.com" target="blank" rel="noopener noreferrer" title="Clopay Garage Doors">
          <img class="blog-image-responsive" src="{{ site.url }}/images/clopay-logo.png" alt="Clopay Garage Doors logo" />
          </a>
        </div>
    </div>
</div>
</section>

<!-- E N D  A D V E R T I S E R   L I S T -->

<!-- P R I C I N G -->
<section id="pricing">
  <div class="container">
    <div class="title-block">
      <h2>Magazine Ad Specifications</h2>
      <p style="text-align: justify !important;">If you are submitting print-ready art work it is important that it is setup correctly. All artwork <strong>MUST</strong> be submitted in the <strong>CMYK</strong> color format. No PMS spot colors or <strong>RGB</strong> colors can be accepted. The resolution <strong>MUST</strong> be 300 pixels per inch. Anything other than <strong>300</strong> pixels per inch, and in the <strong>CMYK</strong> color space will not print at an acceptable level of quality. Click the links below to get the detailed specifications for either a full page or a full-spread ad.</p>
<p>
      <a href="{{ site.url }}/assets/Full-Page-Ad-Specs-DDH.pdf" class="spec-button">Download Single Page Design Spec Sheet.</a><br /></p>


      <a href="{{ site.url }}/assets/Full-Spread-Ad-Specs-DDH.pdf"  class="spec-button" >Download Two Page Spread Design Spec Sheet.</a>
    </div>
  </div>
</section>
<!-- E N D  P R I C I N G -->

<!-- C A L L  T O  A C T I O N -->
<section id="call-to-action">
  <div class="container text-center">
    <h2>Increase Your Brand Awareness</h2>
    <div class="title-block">
      <p>Get your products and services in front of the faces of the people actively engaged in purchasing a new home.</p>
      <a href="{{ site.url }}/contact-us.html" class="btn btn-regular">Contact us to Get Started</a>
    </div>
  </div>
</section>
<!-- E N D  C A L L  T O  A C T I O N -->
