---
layout: default
title: Home
description: "Designs Direct Publishing is the primer of the nation’s top residential designers and architects. We produce top quality books and magazines."
---

<!-- H E R O -->
  <section id="hero">

    <div class="hero-wrapper">
      <div class="hero-item-image">
        <img src="images/DDHP53-Cover.jpg" class="img-fluid" alt="Demo image">
        </div>
        <div class="hero-item-copy">
          <span>Latest Publication</span>
          <h1>Designer Dream Homes Presents: <b>Home Plans for Outdoor Living</b></h1>
          <p>Direct from the nations top residential home designers. </p>
          <!-- <a href="#" class="btn btn-regular">Learn more</a> -->
        </div>
      </div>

  </section>
  <!-- E N D  H E R O -->

  <!-- E N D  M A R K E T I N G -->
  <section id="marketing">
    <div class="marketing-wrapper">
          <div class="marketing-item-copy">
            <span>Features</span>
            <h2>Professional Publishing</h2>
            <p>For almost two decades Design Direct Publiching has been creating stunning, professional publications with nation-wide distribution.</p>
            <a href="{{ site.url }}/about/" class="btn btn-regular">Find out more About Us</a><br />
            <a href="{{ site.url }}/books/" class="btn btn-regular">Our Books</a><br />
            <a href="{{ site.url }}/magazines/" class="btn btn-regular">Our Magazines</a><br />
            <a href="{{ site.url }}/blog/" class="btn btn-regular">Trend Watch</a><br />
          </div>
        <div class="marketing-item-images">
          <div class="marketing-images-wrapper">
              <div class="marketing-image-A"><img src="{{ site.url }}/images/C1-Saters-Ultimate-Luxury-Homes-book.jpg" class="img-fluid" alt="Demo image"></div>
              <div class="marketing-image-C"><img src="{{ site.url }}/images/C1-Ultimate_Mediterranean-book-.jpg" class="img-fluid" alt="Demo image"></div>
              <div class="marketing-image-B"><img src="{{ site.url }}/images/DDH49-Cover-WEB.jpg" class="img-fluid" alt="Demo image"></div>
              <div class="marketing-image-B"><img src="{{ site.url }}/images/DDH39-Cover-low-rez.jpg" class="img-fluid" alt="Demo image"></div>
              <div class="marketing-image-B"><img src="{{ site.url }}/images/DDHP-41-Cover-WEB.jpg" class="img-fluid" alt="Demo image"></div>
              <div class="marketing-image-B"><img src="{{ site.url }}/images/DDHP33-Cover-WEB.jpg" class="img-fluid" alt="Demo image"></div>
              <div class="marketing-image-B"><img src="{{ site.url }}/images/DDHP39-Cover-WEB.jpg" class="img-fluid" alt="Demo image"></div>
              <div class="marketing-image-B"><img src="{{ site.url }}/images/DDHP48-Cover-WEB.jpg" class="img-fluid" alt="Demo image"></div>
              <div class="marketing-image-B"><img src="{{ site.url }}/images/DDHP49-Cover-WEB.jpg" class="img-fluid" alt="Demo image"></div>
              <div class="marketing-image-B"><img src="{{ site.url }}/images/DDHP52-Cover-WEB.jpg" class="img-fluid" alt="Demo image"></div>

          </div>
        </div>
      </div>
  </section>
  <!-- E N D  M A R K E T I N G -->

<!--
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%} -->

</div>
</div>
</div>
</section>

<!-- T E S T I M O N I A L S -->
<section id="testimonials">
  <div class="container">
    <div class="title-block">
      <h2>The Best Companies Recommend Our Publications</h2>
      <p>We are very proud of our long history working with some of the best manufatures in their respective fields.</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="testimonial-box">
          <div class="row personal-info">
            <div class="col-md-2 col-xs-2">
              <div class="profile-picture review-one"></div>
            </div>
            <div class="col-md-10 col-xs-10">
              <h6>Ralph Windows <span class="rating">5 <i class="icon ion-md-star"></i></span></h6>
              <small>Andersen Windows & Doors | Founder & CEO</small>
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur scelerisque, tortor nec mattis feugiat, velit purus euismod odio, quis vulputate velit urna sit amet enim. Maecenas vulputate auctor ligula sed sollicitudin.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonial-box">
          <div class="row personal-info">
            <div class="col-md-2 col-xs-2">
              <div class="profile-picture review-one"></div>
            </div>
            <div class="col-md-10 col-xs-10">
              <h6>Henry Velux <span class="rating">5 <i class="icon ion-md-star"></i></span></h6>
              <small>VELUX Skylights | CFO, CEO, & OMG</small>
            </div>
          </div>
          <p>In euismod, metus ac elementum tincidunt, dui eros ullamcorper lorem, at euismod augue augue quis leo. Fusce non dui augue. In hac habitasse platea dictumst. Mauris quis lacinia mauris. Proin ut pretium quam. Nam at ex finibus.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- E N D  T E S T I M O N I A L S -->

<!-- P R I C I N G -->
<section id="pricing">
  <div class="container">
    <div class="title-block">
      <h2>Advertising</h2>
      <p style="text-align: justify !important;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="{{ site.url }}#" class="btn btn-regular">Download Single Page Design Spec Sheet.</a><br />

      <a href="{{ site.url }}#" class="btn btn-regular">Download Single Page Design Spec Sheet.</a>
    </div>
    <!-- <div class="row">
      <div class="col-md-4">
        <div class="pricing-box">
          <h3 class="demo">Demo Version</h3>
          <h6>Free</h6>
          <small>forever</small>
          <p>Demo gives you full access to all features for 7 days</p>
          <div class="divider-light"></div>
          <ul>
            <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Marketing plan</li>
            <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Seo reporting tool</li>
            <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Keywords explorer</li>
            <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Competitive analysis</li>
            <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Five projects - <span class="demo">¡New!</span></li>
          </ul>
          <div class="text-center">
            <a href="#" class="btn btn-demo">Demo version</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pricing-box">
          <h3>Standard Version</h3>
          <h6>$9</h6>
          <small>per month</small>
          <p>Outrank your competitors with this amazing software</p>
          <div class="divider-light"></div>
          <ul>
            <li><i class="icon ion-md-checkmark-circle-outline"></i>Marketing plan</li>
            <li><i class="icon ion-md-checkmark-circle-outline"></i>Seo reporting tool</li>
            <li><i class="icon ion-md-checkmark-circle-outline"></i>Keywords explorer</li>
            <li><i class="icon ion-md-checkmark-circle-outline"></i>Competitive analysis</li>
            <li><i class="icon ion-md-checkmark-circle-outline"></i>Unlimited projects - <span>¡New!</span></li>
          </ul>
          <div class="text-center">
            <a href="#" class="btn btn-buy">Buy now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pricing-box">
          <h3>Agency Version</h3>
          <h6>$29</h6>
          <small>per month</small>
          <p>For agencies and businesses with extensive web presence</p>
          <div class="divider-light"></div>
          <ul>
            <li><i class="icon ion-md-checkmark-circle-outline"></i>Marketing plan</li>
            <li><i class="icon ion-md-checkmark-circle-outline"></i>Seo reporting tool</li>
            <li><i class="icon ion-md-checkmark-circle-outline"></i>Keywords explorer</li>
            <li><i class="icon ion-md-checkmark-circle-outline"></i>Competitive analysis</li>
            <li><i class="icon ion-md-checkmark-circle-outline"></i>Unlimited projects - <span>¡New!</span></li>
          </ul>
          <div class="text-center">
            <a href="#" class="btn btn-buy">Buy now</a>
          </div>
        </div>
      </div>
    </div>  -->
  </div>
</section>
<!-- E N D  P R I C I N G -->

<!-- C A L L  T O  A C T I O N -->
<section id="call-to-action">
  <div class="container text-center">
    <h2>Increase your Brand Awareness</h2>
    <div class="title-block">
      <p>Get your products and services in fron tof the facees of the people activley enganed in purchaseing a new home.</p>
      <a href="{{ site.url }}/contact/" class="btn btn-regular">Contact us to Get Started</a>
    </div>
  </div>
</section>
<!-- E N D  C A L L  T O  A C T I O N -->
