---
layout: default
---
<section >
  <div class="container">
  <div class="#">

  <header>
    <h1>{{ page.title | escape }}</h1>
    <p class="post-meta">{{ page.date | date: '%B %d, %Y' }}</p>
  </header>

<div class="blog-wrapper">
  <div class="blog-item-image">
    <img class="blog-image-responsive" src="{{ site.url }}/images/blog-images/{{ page.image }}" alt="{{ page.title }}">
    </div>

    <div class="blog-item-text">
      {{ content }}
    </div>
</div>
  </div>



</div>
</section>

<section >
  <div class="container">
<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{ site.url }}{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{ site.url }}{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
</div>
</section>

<script type="application/ld+json">
	{
		"@context":"http://schema.org",
		"@type": "BlogPosting",
		"image": "{{ site.url }}/images/blog-images/{{ page.image }}",
		"url": "{{ site.url }}{{ page.url }}",
		"headline": "{{ page.title }}",
		"alternativeHeadline": "An indepth article on why I love cats",
		"dateCreated": "{{ page.date }}",
		"datePublished": "{{ page.date }}",
		"dateModified": "{{ page.date }}",
		"inLanguage": "en-US",
		"isFamilyFriendly": "true",
		"contentLocation": {
			"@type": "Place",
			"name": "Greenville, SC"
		},
		"accountablePerson": {
			"@type": "Person",
			"name": "Dana Lee Gibson",
			"url": "https://danaleegibson.com"
		},
		"author": {
			"@type": "Person",
			"name": "Patrick Coombe",
			"url": "https://patrickcoombe.com"
		},
		"creator": {
			"@type": "Person",
			"name": "Echo Jones",
			"url": "https://www.dongardner.com"
		},
		"publisher": {
			"@type": "Organization",
			"name": "Designs Direct Publishing, Inc.",
			"url": "http://www.ddhpresents.com",
			"logo": {
				"@type": "ImageObject",
				"url": "{{ site.url }}/images/DDP-logo.png",
				"width":"298",
				"height":"35"
			}
		},
		"articleBody": "{{ content | strip_html | escape   }}"
	}
</script>
